## **Question1**

Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive.

## **Examples**

evenly_divisible(1, 10, 20) ➞ 0

No number between 1 and 10 can be evenly divided by 20.

evenly_divisible(1, 10, 2) ➞ 30

2 + 4 + 6 + 8 + 10 = 30

evenly_divisible(1, 10, 3) ➞ 18

3 + 6 + 9 = 18

In [1]:
def evenly_divisible(a,b,c):
  sum = 0
  for i in range(a,b+1):
    if i%c == 0:
      sum+=i
  if sum>0:
    return sum
  else:
    print(f"No number between {a} and {b} can be evenly divided by {c}")

In [2]:
evenly_divisible(1,10,30)

No number between 1 and 10 can be evenly divided by 30

In [3]:
evenly_divisible(1,10,2)

30

In [4]:
evenly_divisible(1,10,3)

18

## **Question2**

Create a function that returns True if a given inequality expression is correct and False otherwise.

## **Examples**

correct_signs("3 < 7 < 11") ➞ True

correct_signs("13 > 44 > 33 > 1") ➞ False

correct_signs("1 < 2 < 6 < 9 > 3") ➞ True

In [5]:
def correct_signs(expression):

  temp = eval(expression)

  if temp:
    return True
  else:
    return False


correct_signs("3 < 7 < 11")

True

In [6]:
correct_signs("13 > 44 > 33 > 1")

False

In [7]:
correct_signs("1 < 2 < 6 < 9 > 3")

True

## **Question3**
Create a function that replaces all the vowels in a string with a specified character.

## **Examples**

replace_vowels("the aardvark", "#") ➞ "th# ##rdv#rk"

replace_vowels("minnie mouse", "?") ➞ "m?nn?? m??s?"

replace_vowels("shakespeare", "*") ➞ "sh*k*sp**r*"

In [11]:
def replace_vowels(txt, replace_with):

  vowels = ["a", "e", "i", "o", "u"]

  for i in txt:
    if i in vowels:
      txt = txt.replace(i,replace_with)
  
  return txt

In [12]:
replace_vowels("the aardvark", "#")

'th# ##rdv#rk'

In [13]:
replace_vowels("minnie mouse", "?")

'm?nn?? m??s?'

In [14]:
replace_vowels("shakespeare", "*")

'sh*k*sp**r*'

## **Question4.**

Write a function that calculates the factorial of a number recursively.

## **Examples**

factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1

In [15]:
def factorial(n):

  temp = 1
  for i in range(1, n+1):
    temp = temp*i

  return temp

In [18]:
factorial(5)

120

## **Question 5**

Hamming distance is the number of characters that differ between two strings.
To illustrate:
String1: "abcbba"
String2: "abcbda"

Hamming Distance: 1 - "b" vs. "d" is the only difference.
Create a function that computes the hamming distance between two strings.

## **Examples**

hamming_distance("abcde", "bcdef") ➞ 5

hamming_distance("abcde", "abcde") ➞ 0

hamming_distance("strong", "strung") ➞ 1

In [19]:
def hamming_distance(txt1, txt2):
  count = 0
  for i in range(len(txt1)):
    if not txt1[i] == txt2[i]:
      count +=1
  return count

In [20]:
hamming_distance("abcde", "bcdef")

5

In [21]:
hamming_distance("abcde", "abcde")

0

In [22]:
hamming_distance("strong", "strung")

1