# **Question 1**

Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

# **Examples**

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [101]:
def is_symmetrical(num):

  temp = str(num)[::-1]

  if num == int(temp):
    return True
  else:
    return False

In [102]:
is_symmetrical(7227)

True

In [103]:
is_symmetrical(12567)

False

In [104]:
is_symmetrical(44444444)

True

In [105]:
is_symmetrical(1112111)

True

# **Question 2**

Given a string of numbers separated by a comma and space, return the product of the numbers.

# **Examples**

multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [108]:
def multiply_nums(txt):

  temp = txt.split(",")
  x = 1
  for i in temp:
    x= x*int(i)

  print(x)

In [112]:
multiply_nums("1, 2, 3, 4")

24

# **Question 3**

Create a function that squares every digit of a number.

# **Examples**

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

# **Notes**

The function receives an integer and must return an integer.

In [125]:
def square_digits(num):

  temp = [int(i)**2 for i in str(num)]
  temp = [str(i) for i in temp]
  return int("".join(temp))

In [126]:
square_digits(9119)

811181

In [127]:
square_digits(2483)

416649

In [128]:
square_digits(3212)

9414

# **Question 4**

Create a function that sorts a list and removes all duplicate items from it.

# **Examples**

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [133]:
def setify(list_):

  temp = set(list_)
  return list(temp)

In [134]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [135]:
setify([4, 4, 4, 4])

[4]

In [136]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

# **Question 5**

Create a function that returns the mean of all digits.

# **Examples**

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

# **Notes**

•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [145]:
import numpy as np
def mean(num):

  temp = [int(i) for i in str(num)]
  mean_ = np.mean(temp)
  return mean_

In [146]:
mean(42)

3.0

In [148]:
mean(12345)

3.0

In [150]:
mean(666)

6.0