# **Question1**

Create a function that takes three integer arguments (a, b, c) and returns the amount of integers which are of equal value.

# **Examples**

equal(3, 4, 3) ➞ 2

equal(1, 1, 1) ➞ 3

equal(3, 4, 1) ➞ 0 

# **Notes**

Your function must return 0, 2 or 3.

In [220]:
def equal(a,b,c):

  temp = [a,b,c]

  x = set(temp.count(i) if temp.count(i)>1 else 0 for i in temp)
  return max(x)

In [221]:
equal(3, 4, 3)

2

In [222]:
equal(3, 4, 1)

0

In [223]:
equal(1, 1, 1)

3

# **Question2**

Write a function that converts a dictionary into a list of keys-values tuples.

# **Examples**

dict_to_list({
  "D": 1,
  "B": 2,
  "C": 3
}) ➞ [("B", 2), ("C", 3), ("D", 1)]

dict_to_list({
  "likes": 2,
  "dislikes": 3,
  "followers": 10
}) ➞ [("dislikes", 3), ("followers", 10), ("likes", 2)]

# **Notes**

Return the elements in the list in alphabetical order.

In [236]:
def dict_to_list(dict_):

  sorted_dict = {i:dict_[i] for i in sorted(dict_.keys())}
  temp = [(i,j) for i,j in sorted_dict.items()]
  return temp

In [237]:
dict_to_list({ "D": 1, "B": 2, "C": 3 })

[('B', 2), ('C', 3), ('D', 1)]

In [238]:
dict_to_list({ "likes": 2, "dislikes": 3, "followers": 10 })

[('dislikes', 3), ('followers', 10), ('likes', 2)]

# **Question3**

Write a function that creates a dictionary with each (key, value) pair being the (lower case, upper case) versions of a letter, respectively.

# **Examples**

mapping(["p", "s"]) ➞ { "p": "P", "s": "S" }

mapping(["a", "b", "c"]) ➞ { "a": "A", "b": "B", "c": "C" }

mapping(["a", "v", "y", "z"]) ➞ { "a": "A", "v": "V", "y": "Y", "z": "Z" }

## **Notes**

All of the letters in the input list will always be lowercase.

In [239]:
def mapping(list_):

  temp = {i:i.upper() for i in list_}
  return temp

In [240]:
mapping(["p", "s"])

{'p': 'P', 's': 'S'}

In [241]:
mapping(["a", "b", "c"])

{'a': 'A', 'b': 'B', 'c': 'C'}

# **Question4**

Write a function, that replaces all vowels in a string with a specified vowel.

# **Examples**

vow_replace("apples and bananas", "u") ➞ "upplus und bununus"

vow_replace("cheese casserole", "o") ➞ "chooso cossorolo"

vow_replace("stuffed jalapeno poppers", "e") ➞ "steffed jelepene peppers"

# **Notes**

All words will be lowercase. Y is not considered a vowel.

In [242]:
def vow_replace(txt, replace_with):

  vowels = ['a', 'e', 'i', 'o', 'u']

  for i in txt:
    if i in vowels:
      txt = txt.replace(i, replace_with)
  
  return txt

In [243]:
vow_replace("apples and bananas", "u")

'upplus und bununus'

In [244]:
vow_replace("cheese casserole", "o")

'chooso cossorolo'

# **Question5**

Create a function that takes a string as input and capitalizes a letter if its ASCII code is even and returns its lower case version if its ASCII code is odd.

# **Examples**

ascii_capitalize("to be or not to be!") ➞ "To Be oR NoT To Be!"

ascii_capitalize("THE LITTLE MERMAID") ➞ "THe LiTTLe meRmaiD"

ascii_capitalize("Oh what a beautiful morning.") ➞ "oH wHaT a BeauTiFuL moRNiNg."

In [282]:
def ascii_capitalize(txt):

  temp = ""

  for i in range(len(txt)):
    if ord(txt[i])%2 == 0:
      temp = temp + txt[i].upper()
    
    else:
      temp = temp + txt[i].lower()


  return temp

In [283]:
ascii_capitalize("to be or not to be!")

'To Be oR NoT To Be!'

In [284]:
ascii_capitalize("THE LITTLE MERMAID")

'THe LiTTLe meRmaiD'

In [285]:
ascii_capitalize("Oh what a beautiful morning.")

'oH wHaT a BeauTiFuL moRNiNg.'