1.	Write a Python program to find sum of elements in list?

In [25]:
def sum_of_list(list_):
  sum_ = 0
  for i in list_:
    sum_+=i
  return sum_


a = [1,2,3,4,5,6]
sum_of_list(a)

21

2.	Write a Python program to  Multiply all numbers in the list?

In [28]:
def product_of_list(list_):
  mul = 1
  for i in list_:
    mul = mul*i
  return mul

a = [1,2,3,4,5,6]
product_of_list(a)

720

3.	Write a Python program to find smallest number in a list?

In [31]:
def smallest_in_list(list_):

  return min(list_)


a = [1,2,3,4,5,6]
smallest_in_list(a)

1

4.	Write a Python program to find largest number in a list?

In [40]:
def largest_in_list(list_):

  return max(list_)


a = [1,2,3,100, 204,4,5,6]
largest_in_list(a)

204

5.	Write a Python program to find second largest number in a list?

In [41]:
def second_largest(list_):
  temp = sorted(list_)
  return temp[-2]

second_largest(a)

100

6.	Write a Python program to find N largest elements from a list?

In [45]:
def n_largest_nums(list_, n):

  temp = sorted(list_)
  return temp[-n:]


n_largest_nums(a,2)

[100, 204]

7.	Write a Python program to print even numbers in a list?

In [46]:
def even_num_in_list(list_):

  even_num = []
  for i in list_:
    if i%2 == 0:
      even_num.append(i)
    else:
      pass
  return even_num


even_num_in_list(a)

[2, 100, 204, 4, 6]

8.	Write a Python program to print odd numbers in a List?

In [47]:
def even_num_in_list(list_):

  odd_num = []
  for i in list_:
    if i%2 != 0:
      odd_num.append(i)
    else:
      pass
  return odd_num


even_num_in_list(a)

[1, 3, 5]

9.	Write a Python program to Remove empty List from List?

In [49]:
def rm_empy_list(list_):

  temp = []
  for i in list_:
    if len(i) == 0:
      continue
    else:
      temp.append(i)
  return temp

a = [[1,2,3,4], [], [4,5,6]]

rm_empy_list(a)

[[1, 2, 3, 4], [4, 5, 6]]

10.	Write a Python program to Cloning or Copying a list?

In [51]:
def copy_list(list_):
  return list_.copy()


copy_list([1,2,3,4,'a'])

[1, 2, 3, 4, 'a']

11.	Write a Python program to Count occurrences of an element in a list?

In [63]:
def count_occurance(list_):
  unique_ = list(set(list_))
  dict = {}
  for x in unique_:
    count = 0
    for ele in list_:
      if (ele == x):
        count = count + 1
    dict[x] = count


  return dict

list1 = [10,10,10,10,20,20,30,30,30]
count_occurance(list1)

{10: 4, 20: 2, 30: 3}

In [64]:
def count_an_element(list_, ele):
  return list_.count(ele)

count_an_element(list1, 10)

4