### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'

with open('test.txt', 'w') as f:
    f.write(test1)

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
with open('test.txt', 'r') as f:
    test2 = f.read()

In [3]:
test2

'This is a test of the emergency text system,'

There is no difference between test1 and test2

### 3. Create a CSV file called books.csv by using these lines:
title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [12]:
head = ["title","author","year"]

rows = [["The Weirdstone of Brisingamen","Alan Garner",1960],

        ["Perdido Street Station","China Miéville",2000],

        ["Thud!","Terry Pratchett",2005],

        ["The Spellman Files","Lisa Lutz",2007],

        ["Small Gods","Terry Pratchett",1992]]

In [13]:
import csv

with open("book.csv", 'w', encoding = 'utf-8') as f:
    
    csv_write = csv.writer(f, )
    csv_write.writerow(head)
    csv_write.writerows(rows)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [14]:
import sqlite3

In [31]:
connection_obj = sqlite3.connect('books.db')
cursor_obj = connection_obj.cursor()

cursor_obj.execute("DROP TABLE IF EXISTS books")

In [32]:
cursor_obj.execute('''CREATE TABLE books
         (title INT PRIMARY KEY     NOT NULL,
         author           TEXT    NOT NULL,
         year            INT     NOT NULL);''')

### 5. Read books.csv and insert its data into the book table.

In [52]:
with open('book.csv', 'r') as f:
    
    connection_obj = sqlite3.connect('books.db')
    cursor_obj = connection_obj.cursor()
    
    cursor_obj.execute("INSERT INTO books (title,author,year) VALUES ('The Weirdstone of Brisingamen', 'Alan Garner', 1960)");

    cursor_obj.execute("INSERT INTO books (title,author,year) VALUES ('Perdido Street Station', 'China Miéville', 2000)");

    cursor_obj.execute("INSERT INTO books (title,author,year) VALUES ('Thud!', 'Terry Pratchett' ,2005)");
    
    cursor_obj.execute("INSERT INTO books (title,author,year) VALUES ('The Spellman Files', 'Lisa Lutz',2007)");
    
    cursor_obj.execute("INSERT INTO books (title,author,year) VALUES ('Small Gods', 'Terry Pratchett' ,1992)");
    
    connection_obj.commit()

print ("Records created successfully")
cursor_obj.close()

Records created successfully

### 6. Select and print the title column from the book table in alphabetical order.

In [58]:
connection_obj = sqlite3.connect('books.db')
cursor_obj = connection_obj.cursor()

cursor_obj.execute("SELECT title FROM books");

In [59]:
output = cursor_obj.fetchall()
for row in output:
  print(row)

cursor_obj.close()

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

### 7. From the book table, select and print all columns in the order of publication.

In [61]:
connection_obj = sqlite3.connect('books.db')
cursor_obj = connection_obj.cursor()

cursor_obj.execute("SELECT * FROM books ORDER BY year");

In [62]:
output = cursor_obj.fetchall()
for row in output:
  print(row)

cursor_obj.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('sqlite:///books.db')

pd.read_sql('select * from books',engine)

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [81]:
#pip install redis

### 10. Increment the count field of test and print it.